<?xml version="1.0"?>
<!--
/**
 * @author MageSquare Team
 * @copyright Copyright (c) 2021 MageSquare 
 * @package MageSquare_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magesquare_comment_save_after">
        <observer name="magesquare_notify_customers" instance="MageSquare\Blog\Model\Observer\NotifyCustomers" />
    </event>
</config>
